.container{
    display: flex;
    flex-wrap: wrap;
}
.ejercicio1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #37758da3;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    min-height:200px ;
    margin: 10px;
}
.ejercicio1 input{
    width: 70px;
    margin: 10px;
}

.ejercicio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background-color: #21ea435d;
    margin: 10px;
    justify-content: space-evenly;
    font-size: 10px;
    border:solid 2px #000;
    border-radius: 20px;
    min-height:200px ;
}
.ejercicio2 div{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}


.ejercicio3{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background-color: #6775df8d;
    margin: 10px;
    justify-content: space-evenly;
    font-size: 10px;
    border:solid 2px #000;
    border-radius: 20px;
    min-height:200px ;
}
.ejercicio4{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background-color: #f222d34d;
    margin: 10px;
    justify-content: space-evenly;
    font-size: 10px;
    border:solid 2px #000;
    border-radius: 20px;
    min-height:200px ;
}
.ejercicio4 input{
    width: 30px;
}
.ejercicio5{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background-color: #338b99;
    margin: 10px;
    justify-content: space-evenly;
    font-size: 10px;
    border:solid 2px #000;
    border-radius: 20px;
    min-height:200px ;
}